@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background: rgb(80,183,233);
    background: radial-gradient(circle, rgba(80,183,233,1) 0%, rgba(59,212,224,1) 50%, rgba(38,224,216,1) 100%);
    font-family: "Roboto Condensed";
    overflow-x: hidden;
}

button {
    cursor: pointer;
}

/* Default styling for all four vertical sections */

.titlesection {
    width: 96vw;
    height: 100px;
    margin: 1vw;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 50px;
    font-weight: 900;

    background-color: rgba(255,255,255,0.7);

    box-shadow: 10px 10px rgba(0,0,0,0.2);

    border-radius: 5px;
    transition: 0.3s ease;
}

.titlesection:hover {
    background-color: rgba(255,255,255,0.3);
    scale: 1.05;
    cursor: pointer;
}

.section {
    width: 22.5vw;
    height: 70vh;
    background-color: rgba(255,255,255,0.7);
    margin: 1vw;
    float: left;
    box-shadow: 10px 10px rgba(0,0,0,0.2);

    transition: 0.3s ease;
    padding: 10px;
    border-radius: 8px;

    overflow-y: scroll;
}

.section:hover {
    scale: 1.1;
}

.section:hover > .calendar {
    color: green;
}

.calendar {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

.title {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}

.currenttime {
    text-align: center;
    font-size: 50px;
    margin: 30px 0;
    font-weight: 900;
    color: rgb(4, 17, 78);
}

.currentdate {
    text-align: center;
    font-size: 50px;
    margin: 30px 0;
    font-weight: 900;
    color:rgb(4, 17, 78);
}

.to-do {
    overflow-y: scroll;
}

.taskname, .tasktime, .taskdate, .addtask {
    width: 100%;
    height: 40px;
    font-size: 20px;
    padding: 5px;
    outline: none;
    border: none;
    transition: 0.3s ease;
}

.taskname:hover, .tasktime:hover, .taskdate:hover, .addtask:hover {
    box-shadow: 10px 10px solid rgb(7, 7, 109);
    scale: 1.05;
}


.addtask {
    background-color: rgb(8, 223, 238);
    font-weight: 600;
}

.addtask:hover {
    background-color: rgb(238, 238, 238);
}

.timer, .stopwatch {
    text-align: left;
    font-size: 25px;
}

.eventname, .eventtime, .eventdate, .addevent {
    width:100%;
    height: 40px;
    font-size: 20px;
    padding: 5px;
    outline: none;
    border: none;
    transition: 0.3s ease;
}
.eventname:hover, .eventtime:hover, .eventdate:hover, .addevent:hover {
    box-shadow: 10px 10px solid rgb(7.7.109);
    scale: 1.05;
}
.addevent {
    background-color: rgb(8, 223, 238);
    font-weight: 600;
}

.addtask:hover {
    background-color: rgb(238, 238, 238);
}


.themechanger {
    width: 100%;
    height: 20px;
    outline: none;
    border: none;
    background-color:rgba(255,255,255, 0.5);
    font-size: 15px;
}


iframe {
    position: absolute;
    top: 0;
    left: calc(99%);
    transition: 0.5s ease;
    border-radius: 0;
}

iframe:hover {
    left: 0%;
}


.timertext, .stopwatchtext {
    font-size: 50px;
    text-align: center;
    font-weight: 900;
}

.starttimer, .stoptimer, .resettimer, .addminute, .addtenminutes {
    font-weight: 600;
    outline: none;
    border: none;
    width: 47%;
    height: 30px;
    font-size: 15px;
    margin-left: 1%;
    padding: 0;   
}

.resettimer {
    width: 96%;
}
    
.starttimer {
    background-color: rgb(8, 238, 66);
}

.stoptimer {
    background-color: rgb(238, 8, 8);
}

.addminute {
    background-color: rgb(85, 228, 239);
}

.addtenminutes {
    background-color: rgb(85, 228, 239);
}

.toastclass {
    border-radius: 5px;
    background: radial-gradient(circle, rgba(80,212,233,1) 0%, rgba(59,140,224,1) 50%, rgba(50,38,224,1) 100%);
    padding: 1rem;
}
